body {
  /*background: url('../img/dark_stripes.png');*/
  /*background: rgba(0, 0, 0, 0.9);
  background: url(../img/daft-bg.jpg) no-repeat;*/
  background: linear-gradient(
    to bottom,
    rgba(0,0,0, 1.0),
    rgba(0,0,0, 0.5)
  ),url(../img/daft-bg.jpg);
  background-size: cover;
  color: #5fc3ff;
  height: 100vh;
}

.title {
  text-align: center;
}

.row {
  margin: 0 auto;
  max-width: 1000px;
}

.parent {
  display: flex;
  height: 200px;
}

.column {
  display: flex;
  flex: 1;
  max-width: 500px;
}

.lcd {
    background-color: rgba(95, 195, 255, 0.2);
    padding: 10px;
    border: solid 1px #5fc3ff;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    margin: 0 2px;
    text-align: center;

    animation-duration: 1s;
    -webkit-animation-duration: 1s;

    animation-fill-mode: backwards;

    animation-delay: .5s;
    text-transform: uppercase;
}

.lcd:hover {
    transition: .2s;
    box-shadow: 0px 0px 1px 0px rgba(95,195,255,1);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3), 0 0px 30px rgba(0, 255, 255, 0.7);
}

.letter {
  display: block;
  font-size: 1.5em;
}

.touch {
  background: #5fc3ff;
  box-shadow: 0px 0px 10px 4px rgba(95,195,255,1);
  color: #ccc;
  font-size: 16px;
  transition: 0s;
}
