/*fonts*/
@font-face {
  font-family: 'Tr2n';
  src: url('../fonts/Tr2n.ttf') format('truetype');
}

@font-face {
  font-family: 'JKAbode-LightDemo';
  src: url('../fonts/JKAbode-LightDemo.ttf') format('truetype');
}

@font-face {
  font-family: 'fighting spirit_PG';
  src: url('../fonts/fighting spirit_PG.ttf') format('truetype');
}

body {
  background: linear-gradient(
    to bottom,
    rgba(0,0,0, 1.0),
    rgba(0,0,0, 0.5)
  ),url(../img/daft-bg.jpg);
  background-size: cover;
  color: #5fc3ff;
  height: 100vh;
}

.title {
  transition: opacity 0s 1s;
  font-family: 'Tr2n';
  font-size: 6em;
  text-align: center;
  /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3), 0 0px 30px rgba(0, 255, 255, 0.7);*/
  /*transition: text-shadow 3s ease-in-out;*/
  animation: shadowpulse 5s infinite;
}

@keyframes fadein {
  from { opacity: 0 }
  to { opacity: 100 }
}

@keyframes shadowpulse {
    0%, 100% { text-shadow: none;}
    50%   { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3), 0 0px 30px rgba(0, 255, 255, 0.8); }
}

.subtitle {
  animation: fadein 1.5s;
  text-align: center;
}

.row {
  margin: 0 auto;
  max-width: 1000px;
}

.parent {
  display: flex;
  height: 200px;
}

.column {
  display: flex;
  flex: 1;
  max-width: 500px;
}

.justify {
  justify-content: center;
}

.v-align {
  align-items: center;
}

.lcd {
    background-color: rgba(95, 195, 255, 0.2);
    padding: 10px;
    border: solid 1px #5fc3ff;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    margin: 0 2px;
    text-align: center;

    animation: fadein 4s;

    text-transform: uppercase;
}

.lcd:hover {
    transition: .2s;
    box-shadow: 0px 0px 1px 0px rgba(95,195,255,1);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3), 0 0px 30px rgba(0, 255, 255, 0.7);
}

.letter {
  display: block;
  font-size: 1.5em;
}

.stage {
  font-family: 'JKAbode-LightDemo';
  font-size: 4em;
  text-align: center;
}

.fade-once {
  animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fade-all {
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}

.hide {
  visibility: hidden;
  transition: 1s;
}

.touch {
  background: #5fc3ff;
  box-shadow: 0px 0px 10px 4px rgba(95,195,255,1);
  color: #ccc;
  font-size: 16px;
  transition: 0s;
}

.battle {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

/*************/
/* battle css*/
/*************/

.main {
  background-color: white;
  margin-top: 110px;
  min-width: 1200px;
  height: 700px;
}

.fight-container {
  float: left;
  margin-top: 200px;
}

.ryu {
	float: left;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 659px;
  height: 494px;
}

.ryu-throwing, .ryu-cool {
  display: none;
}

.ryu-ready {
  background-image: url('../img/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../img/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../img/ryu-throwing-hadouken.png');
}

.ryu-cool {
  background-image: url('../img/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing .ryu-cool {
  background-repeat: no-repeat;
}

.hadouken {
  background-image: url('../img/hadouken.gif');
  width: 156px;
  height: 90px;
  display: none;
  position: relative;
  top: 170px;
  left: -120px;
  float: left;
}

.places {
  color: #000;
  font-family: 'fighting spirit_PG';
  float: right;
}

/*Landscapes*/
.choose-land {
  background: #000;
  font-family: 'fighting spirit_PG';
  min-height: 150px;
  position: relative;
  top: 700px;
}
.choose-land a {
  color: #fff;
}

.temple {
  background: url('../img/templebg.gif') no-repeat center bottom;
  background-size: cover;
}

.street {
  background: url('../img/streetbg.gif') no-repeat center bottom;
  background-size: cover;
}

.ruins {
  background: url('../img/ruinsbg.gif') no-repeat center bottom;
  background-size: cover;
}
