<div class="main">
	<div class="fight-container">
		<div class="ryu">
			<div class="ryu-ready"></div>
			<div class="ryu-throwing"></div>
			<div class="ryu-cool"></div>
		</div>
		<h2 class="places hide">
	    <span class="achieve">Achievement Unlocked: </span><a class="fade-all" ui-sref="battle">Clickity Split &#x02193;</a>
	  </h2>
		<div class="hadouken">
		</div>
	</div>
	<div class="choose-land hide">
		<h3><a ui-sref="temple">Temple</a></h3>
		<h3><a ui-sref="street">Street</a></h3>
		<h3><a ui-sref="ruins">Ruins</a></h3>
		<h3><a ui-sref="home">Daft Mountain</a></h3>
	</div>
</div>
