<h1 class="title">Who says LDS can't DNC</h1>
<div class="row">
  {{test}}
</div>
<div class="row parent">
  <div class="column">
    <div class="q lcd">
      work it
      <span class="letter">
        q
      </span>
    </div>
    <div class="w lcd">
      make it
      <span class="letter">
        w
      </span>
    </div>
    <div class="e lcd">
      do it
      <span class="letter">
        e
      </span>
    </div>
    <div class="r lcd">
      makes us
      <span class="letter">
        r
      </span>
    </div>
  </div>
  <div class="column">
    <div class="y lcd">
      more than
      <span class="letter">
        y
      </span>
    </div>
    <div class="u lcd">
      ever
      <span class="letter">
        u
      </span>
    </div>
    <div class="i lcd">
      hour
      <span class="letter">
        i
      </span>
    </div>
    <div class="o lcd">
      after
      <span class="letter">
        o
      </span>
    </div>
  </div>
</div>
<div class="row parent">
  <div class="column">
    <div class="a lcd">
      harder
      <span class="letter">
        a
      </span>
    </div>
    <div class="s lcd">
      better
      <span class="letter">
        s
      </span>
    </div>
    <div class="d lcd">
      faster
      <span class="letter">
        d
      </span>
    </div>
    <div class="f lcd">
      stronger
      <span class="letter">
        f
      </span>
    </div>
  </div>
  <div class="column">
    <div class="h lcd">
      our
      <span class="letter">
        h
      </span>
    </div>
    <div class="j lcd">
      work is
      <span class="letter">
        j
      </span>
    </div>
    <div class="k lcd">
      never
      <span class="letter">
        k
      </span>
    </div>
    <div class="l lcd">
      over
      <span class="letter">
        l
      </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="stage">
    <div class="stage-q hide">{{qPress}}</div>
    <div class="stage-w hide">{{wPress}}</div>
    <div class="stage-e hide">{{ePress}}</div>
    <div class="stage-r hide">{{rPress}}</div>

    <div class="stage-a hide">{{aPress}}</div>
    <div class="stage-s hide">{{sPress}}</div>
    <div class="stage-d hide">{{dPress}}</div>
    <div class="stage-f hide">{{fPress}}</div>

    <div class="stage-y hide">{{yPress}}</div>
    <div class="stage-u hide">{{uPress}}</div>
    <div class="stage-i hide">{{iPress}}</div>
    <div class="stage-o hide">{{oPress}}</div>

    <div class="stage-h hide">{{hPress}}</div>
    <div class="stage-j hide">{{jPress}}</div>
    <div class="stage-k hide">{{kPress}}</div>
    <div class="stage-l hide">{{lPress}}</div>
  </div>
</div>

<div class="row parent">
  <h2 class="battle fade-all">
    <a ui-sref="battle">Now battle it out</a>
  </h2>
</div>
