<div class="row parent">
  <div class="column">
    <div  class="q lcd">
      work it
      <span class="letter">
        q
      </span>
    </div>
    <div class="w lcd">
      make it
      <span class="letter">
        w
      </span>
    </div>
    <div class="e lcd">
      do it
      <span class="letter">
        e
      </span>
    </div>
    <div class="r lcd">
      makes us
      <span class="letter">
        r
      </span>
    </div>
  </div>
  <div class="column">
    <div class="y lcd">
      more than
      <span class="letter">
        y
      </span>
    </div>
    <div class="u lcd">
      ever
      <span class="letter">
        u
      </span>
    </div>
    <div class="i lcd">
      hour
      <span class="letter">
        i
      </span>
    </div>
    <div class="o lcd">
      after
      <span class="letter">
        o
      </span>
    </div>
  </div>
</div>
<div class="row parent">
  <div class="column">
    <div class="a lcd">
      harder
      <span class="letter">
        a
      </span>
    </div>
    <div class="s lcd">
      better
      <span class="letter">
        s
      </span>
    </div>
    <div class="d lcd">
      faster
      <span class="letter">
        d
      </span>
    </div>
    <div class="f lcd">
      stronger
      <span class="letter">
        f
      </span>
    </div>
  </div>
  <div class="column">
    <div class="h lcd">
      our
      <span class="letter">
        h
      </span>
    </div>
    <div class="j lcd">
      work is
      <span class="letter">
        j
      </span>
    </div>
    <div class="k lcd">
      never
      <span class="letter">
        k
      </span>
    </div>
    <div class="l lcd">
      over
      <span class="letter">
        l
      </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="stage">
    <div class="q hide">{{qPress}}</div>
    <div class="w hide">{{wPress}}</div>
  </div>
</div>
